@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/* Helpy Font */
body {
    font-family: 'Nunito', sans-serif;
}

.helpy-custom-font {
    font-family: 'BIZ UDGothic', sans-serif;

}

/* Helpy Background Color */
.bg-helpy-primary {
    background-color: #ff7f7b !important;
}

.bg-helpy-secondary {
    background-color: #ffb3b3 !important;
}

.bg-helpy-variant-1 {
    background-color: #35799a !important;
}

.bg-helpy-variant-2 {
    background-color: #f5c013 !important;
}

.bg-helpy-variant-3 {
    background-color: #3da48e !important;
}

/* Helpy Text Color */
.text-helpy-primary {
    color: #ff7f7b !important;
}

.text-helpy-secondary {
    color: #ffb3b3 !important;
}

.text-helpy-variant-1 {
    color: #35799a !important;
}

.text-helpy-variant-2 {
    color: #f5c013 !important;
}

.text-helpy-variant-3 {
    color: #3da48e !important;
}

.text-justify {
    text-align: justify;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

.floating-button-item {
    background-color: #ff7f7b;
    font-size: 20px;
    font-weight: 900;
}

.floating-button-item:hover {
    background-color: #3da48e;
}

.floating-button-item .text-floating {
    display: none;
    padding-right: 4px;
    padding-left: 2px;
    padding-top: 2px;
}

.floating-button-item:hover .text-floating {
    display: block;
}

.social-media {
    margin-bottom: 20px;
}

.socmed-button:hover {
    background-color: #ffb3b3;
    color: #000000;
}

.btn-pink {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #ffb3b3;
    color: #000000;
}

.button-wa {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #ffb3b3;
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: none;
}

.button-testi {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #3da48e;
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none;
}

.button-testi:hover {
    color: #000000;
}

.button-wa:hover {
    background-color: #ff7f7b;
    color: #000000;
}

.btn-pink:hover {
    background-color: #ff7f7b;
    color: #ffffff;
}

.socmed-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    margin-bottom: 20px;
}

.card-title {
    margin-top: 20px;
}

.btn2 {
    background-color: #ff7f7b;
}

.card-maskot {
    width: 250px;
    align-self: center;
}

.card-maskot-lukis {
    width: 350px;
    align-self: center;
}