@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/* Helpy Font */
body {
    font-family: 'Nunito', sans-serif;
}

.helpy-custom-font {
    font-family: 'BIZ UDGothic', sans-serif;

}

/* Helpy Background Color */
.bg-helpy-primary {
    background-color: #ff7f7b !important;
}

.bg-helpy-secondary {
    background-color: #ffb3b3 !important;
}

.bg-helpy-variant-1 {
    background-color: #35799a !important;
}

.bg-helpy-variant-2 {
    background-color: #f5c013 !important;
}

.bg-helpy-variant-3 {
    background-color: #3da48e !important;
}

/* Helpy Text Color */
.text-helpy-primary {
    color: #ff7f7b !important;
}

.text-helpy-secondary {
    color: #ffb3b3 !important;
}

.text-helpy-variant-1 {
    color: #35799a !important;
}

.text-helpy-variant-2 {
    color: #f5c013 !important;
}

.text-helpy-variant-3 {
    color: #3da48e !important;
}

.text-justify {
    text-align: justify;
}